WITH temp AS
    (SELECT
    identifier
    , MAX(name) as name
    , published_year
    , MAX(country) as country
    , MAX(region) as region
    , COUNT(DISTINCT doi) as total_outputs
    , COUNTIF(
        FALSE {% for sdg in sdgs %} OR {{sdg}} {% endfor %}
            ) as total_sdgs
    {% for sdg in sdgs -%}
    , COUNTIF({{ sdg }}) as {{ sdg }}
    , COUNTIF({{ sdg }} AND sustainab_title_abs_field) as {{ sdg }}_sustainab
    {% endfor %}

FROM `{{ table }}`
-- WHERE total_outputs > 999

GROUP BY identifier, --name,
published_year
ORDER BY --name ASC,
    published_year DESC)

SELECT * FROM TEMP where total_outputs > 999